* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  background: crimson;
  width: 80%;
  height: 50px;
  margin: auto;
}

nav img {
  height: 35px;
  margin: 7px 20px;
}

nav ul {
  display: flex;
  width: 40%;
  margin-left: auto;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  color: white;
}

h1 {
  text-align: center;
}
